<script setup lang="ts">
const emit = defineEmits<{
  (e: "click"): void;
}>();
</script>

<template>
  <button @click="emit('click')"><slot /></button>
</template>

<style scoped>
button {
  margin: 8px;

  padding: 8px 16px;

  font-family: "Vazir";

  background: transparent;

  border: solid 2px #000;
  border-radius: 5px;

  cursor: pointer;
}
</style>
