<script setup lang="ts">
const props = defineProps<{ modelValue: string | number; label: string }>();

const emit = defineEmits<{
  (e: "update:modelValue", event: Event): void;
}>();

const handleInput = (event: { target: any }) => {
  emit("update:modelValue", event.target.value);
};
</script>

<template>
  <div>
    <label>{{ label }}</label>
    <input type="text" :value="props.modelValue" @input="handleInput($event)" />
  </div>
</template>

<style scoped>
div {
  display: inline-block;
  position: relative;
}

label {
  display: block;
  margin: 8px 16px 0;
}

input {
  margin: 8px;

  padding: 8px 16px;

  font-family: "Vazir";

  background: transparent;

  border: solid 2px #000;
  border-radius: 5px;
}
</style>
