<script setup lang="ts">
defineProps<{ content: string | null }>();

const emit = defineEmits<{
  (e: "click"): void;
}>();
</script>

<template>
  <div
    :class="{
      'puzzle-piece': true,
      'puzzle-piece--null': content === null,
    }"
    @click="emit('click')"
  >
    {{ content }}
  </div>
</template>

<style scoped>
.puzzle-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid 1px #000;
  border-radius: 3px;
  margin: 10px;
  aspect-ratio: 1;
}

.puzzle-piece--null {
  background-color: #777;
}
</style>
