<script setup lang="ts">
import { ref, toRefs, watch } from "vue";
import PuzzlePiece from "./PuzzlePiece.vue";
const props = defineProps<{ state: Array<Array<string | null>> }>();

const { state } = toRefs(props);

function stateToPieces(state: Array<Array<string | null>>) {
  return state.reduce((pieces, row) => pieces.concat(...row), []);
}

const pieces = ref(stateToPieces(state.value));

watch(state, (newState) => (pieces.value = stateToPieces(newState)));

const emit = defineEmits<{
  (e: "click", piece: string | null): void;
}>();
</script>

<template>
  <div class="puzzle-frame">
    <PuzzlePiece
      v-for="piece in pieces"
      :content="piece"
      @click="emit('click', piece)"
    />
  </div>
</template>

<style scoped>
.puzzle-frame {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
}
</style>
