<script setup lang="ts">
import { ref, Ref, onMounted, onBeforeUpdate, onUpdated } from "vue";
import TreeDrawer from "../brain/drawer";
import Tree, { Node } from "../brain/Tree";

const props = defineProps<{
  tree: Tree;
}>();

const canvasRef: Ref<HTMLCanvasElement | null> = ref(null);

const nodeSize = 50;
const gutterSize = 30;

function drawGrid(context: CanvasRenderingContext2D, size: number) {
  for (let i = 0; i <= size; i += 100) {
    context.moveTo(0, i);
    context.lineTo(size, i);
    context.moveTo(i, 0);
    context.lineTo(i, size);
  }
  context.stroke();
}

onMounted(() => {
  if (!canvasRef.value) throw new Error("Canvas not found");
  const drawer = new TreeDrawer(canvasRef.value, props.tree);
  drawer.draw();
});

onUpdated(() => {
  if (!canvasRef.value) throw new Error("Canvas not found");
  const drawer = new TreeDrawer(canvasRef.value, props.tree);
  drawer.draw();
});

onBeforeUpdate(() => {
  console.log();
});
</script>

<template>
  <canvas ref="canvasRef"></canvas>
</template>
