<script setup lang="ts">
import PuzzleFrame from "./components/PuzzleFrame.vue";
import Puzzle from "./brain/puzzle";
import { ref, Ref, reactive, onRenderTracked, onRenderTriggered } from "vue";
import IDS from "./brain/problem-formulations/ids";
import Button from "./components/Button.vue";
import Input from "./components/Input.vue";
import { StepCallback, Report } from "./brain/types";
import Tree, { Node } from "./brain/Tree";
import TreeGraph from "./components/TreeGraph.vue";

let puzzle = ref(
  new Puzzle([
    ["1", "2", "3"],
    ["4", "5", "6"],
    ["7", "8", null],
  ])
);

let searchTree: Ref<Tree> = ref(new Tree(new Node("start")));

setTimeout(() => {
  puzzle.value.state = [
    ["1", "2", "3"],
    [null, "5", "6"],
    ["4", "7", "8"],
  ];
}, 1000);

let speed = ref(1);
let maxDepth = ref(100);

const solve = (
  algorithm: (
    puzzle: Puzzle,
    maxDepth: number,
    stepCallback: StepCallback,
    searchTree?: Tree
  ) => void
) => {
  algorithm(
    puzzle.value,
    maxDepth.value,
    (newPuzzle, newSearchTree) => {
      puzzle.value = newPuzzle;
      if (newSearchTree) {
        console.log(newSearchTree);
        searchTree.value = newSearchTree;
      }

      return new Promise((resolve) => {
        setTimeout(resolve, 1000 / speed.value);
      });
    },
    searchTree.value
  );
};

const handleClick = (piece: string | null) => {
  const piecePosition = puzzle.value.getPosition(piece);
  const validMoves = puzzle.value.validMoves();

  const moveDirection = validMoves.find((direction) => {
    const newPuzzle = puzzle.value.clone();
    newPuzzle.move(direction);
    const nullPosition = newPuzzle.getPosition(null);

    return (
      nullPosition.column === piecePosition.column &&
      nullPosition.row === piecePosition.row
    );
  });

  if (moveDirection !== undefined) {
    puzzle.value.move(moveDirection);
  }
};
</script>

<template>
  <main>
    <h1>پازل ۸</h1>
    <PuzzleFrame :state="puzzle.state" @click="handleClick" />
    <hr />
    <h2>عملیات</h2>
    <Button @click="puzzle.shuffle()">به هم ریختن</Button>
    <Button @click="puzzle.reset()">بازنشانی</Button>

    <h2>تنظیمات</h2>
    <Input v-model.number="speed" label="سرعت اجرا" />
    <Input v-model.number="maxDepth" label="حداکثر عمق" />

    <h2>حل</h2>
    <Button @click="solve(IDS)">الگوریتم عمیق شونده تکراری</Button>
    <Button @click="puzzle.reset()">بازنشانی</Button>

    <h2>درخت جستجو</h2>
    <TreeGraph :tree="searchTree" width="368" height="368" />
  </main>
</template>

<style>
html,
body {
  margin: 0;
  padding: 0;

  font-family: Vazir;
  direction: rtl;
}

main {
  margin: 150px auto;

  width: 400px;

  padding: 16px;

  border: solid 2px #000;
  border-radius: 8px;
}
</style>
